.searchResult {

    .searchListItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2em;

        .searchListItemInfo {
            display: flex;
            gap: 1em;
        }
    }
}