:root {
    --nav-background-color: rgba(242, 78, 30, 0.5);
    --nav-text-color: #F0F1F6;
    --nav-height: 150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Inter, sans-serif;
    background-color: transparent;
    border: none;
}