:root {
    --nav-background-color: rgba(242, 78, 30, 0.5);
    --nav-text-color: #F0F1F6;
    --header-background-color: #F24E1E;
    --taxonomy-background-color: #F24E1E;
    --nav-height: 125px;
    --text-font-size: 14px;
    --h1-font-size: 64px;
    --h2-font-size: 52px;
    --h3-font-size: 40px;
}

* {
    font-family: Inter, sans-serif;
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

.content {
    background-color: #1F1F1F;
    color: var(--nav-text-color);
}