:root {
    --nav-background-color: rgba(242, 78, 30, 0.9);
    --nav-text-color: #FCFCFC;
    --header-background-color: #F24E1E;
    --taxonomy-background-color: #F24E1E;
    --background-color: #1F1F1F;
    --nav-height: 15vh;
    --text-font-size: 14px;
    --h1-font-size: 64px;
    --h2-font-size: 52px;
    --h3-font-size: 40px;
}

* {
    list-style: none;
    font-family: Inter, sans-serif;
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

body {
    background-color: var(--background-color);
}
.content {
    padding-top: var(--nav-height);
    min-height: 90vh;
    color: var(--nav-text-color);
}