.heroBanner {
    position: relative;
    width: 100%;
    height: 100vh;
}

.teaser {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    height: 20vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.callToAction {
    font-size: 64px;
    width: 300px;
    background-color: red;
    z-index: 100;
}